@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");
@font-face {
  font-family: mona;
  src: url(../assets/fonts/Mona-Sans-Black.ttf);
}

@font-face {
  font-family: silence;
  src: url(../assets/fonts/Silence\ Rocken.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#prodSlider {
  height: 80vh;
  width: 90%;
  padding: 0 6vw;
  overflow: hidden;
  margin-bottom: 5vh;
  user-select: none;
}

#prodSlider .title {
  height: auto;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#prodSlider .title h1 {
  color: #292929;
  font-size: 7vh;
  letter-spacing: 1px;
  font-family: mona;
}

#prodSlider .title h2 {
  font-size: 4vh;
  color: red;
  letter-spacing: 1px;
  margin-left: 1vw;
  font-family: silence;
  /* text-align: right; */
}

#prodSlider .swiper {
  width: 100%;
  height: 100%;
}

#prodSlider .mySwiper {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #efefef; */
  user-select: none;
  margin-bottom: 3vh;
}

#prodSlider .swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#prodSlider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prodSlider .title {
  height: auto;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#prodSlider .title h1 {
  color: #292929;
  font-size: 7vh;
  letter-spacing: 1px;
  font-family: mona;
}

#prodSlider .title h2 {
  font-size: 4vh;
  color: red;
  letter-spacing: 1px;
  margin-left: 1vw;
  font-family: silence;
  /* text-align: right; */
}

#prodSlider .name {
  font-size: 0.9em;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  color: #7e7fa8;
}

#prodSlider .description {
  font-size: 1.2em;
  font-family: "Anek Latin", sans-serif;
  font-weight: 600;
  margin-bottom: 1vh;
}

#prodSlider .price {
  font-size: 1.2em;
  font-family: "Anek Latin", sans-serif;
  font-weight: 600;
  /* margin-bottom: 2vh; */
}

#prodSlider .slide-container {
  max-width: 1120px;
  width: 100%;
  /* background-color: grey; */
  padding: 40px 0;
}

#prodSlider .card {
  min-height: 100%;
  border-radius: 25px;
  background-color: #fff;
}

#prodSlider .slide-content {
  margin: 0 40px;
  border-radius: 25px;
  overflow: hidden;
}

#prodSlider .image-content {
  row-gap: 5px;
}

#prodSlider .card-content {
  text-align: center;
}

#prodSlider .button {
  border: none;
  padding: 8px 16px;
  background-color: #f6f6f6;
  border-radius: 6px;
  margin: 14px;
}

#prodSlider .image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
#prodSlider .card-image {
  position: relative;
  min-height: 40vh;
  width: 20vw;
  margin-top: 2vh;
  background-color: #fff;
  overflow: hidden;
}

#prodSlider img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#prodSlider .card-img2 {
  opacity: 0;
  transition: all 0.2s linear;
}

#prodSlider .card-image:hover {
  cursor: pointer;
}

#prodSlider .card-image:hover .card-img2 {
  opacity: 1;
  scale: 1.1;
}

#prodSlider .swiper-navBtn {
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 50%;
  color: #000;
  position: absolute;
  /* font-size: 6px; */
}

#prodSlider .swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

#prodSlider .swiper-button-prev {
  left: 0;
}

#prodSlider .swiper-button-next {
  right: 0;
}
