@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");

@font-face {
  font-family: silence;
  src: url(../assets/fonts/Silence\ Rocken.ttf);
}

@font-face {
  font-family: mona;
  src: url(../assets/fonts/Mona-Sans-Black.ttf);
}

#contact {
  height: 45vh;
  width: 100%;
  padding: 5vh 5vw;
  /* background-color: aquamarine; */
}

#contact .cont {
  height: 100%;
  width: 100%;
  /* background-color: #b9bab9; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  /* justify-content: center; */
}

#contact .cont p {
  font-size: 2.5vh;
  font-family: "Anek Latin", sans-serif;
  margin-bottom: 3vh;
}

#contact .title {
  height: auto;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

#contact .title h1 {
  position: relative;
  color: #292929;
  font-size: 7vh;
  letter-spacing: 1px;
  font-family: mona;
}

#contact .title h2 {
  position: relative;
  font-size: 4vh;
  color: red;
  letter-spacing: 1px;
  margin-left: 1vw;
  font-family: silence;
  /* text-align: right; */
}

#contact .cont .subscribe .sub-cont {
  display: flex;
  width: 100%;
}

#contact .cont .subscribe .sub-cont input {
  padding: 1.5vh 40vh 1.5vh 2vh;
  font-size: 2vh;
}

#contact .cont .subscribe .sub-cont .foot-btn {
  font-size: 2vh;
  letter-spacing: 1.5px;
  background-color: #292929;
  color: #fff;
  border: none;
  padding: 2vh 10vh;
}

#contact .foot-btn:hover {
  cursor: pointer;
}
